.loading {
  flex-grow: 1;
}

.background-paper {
  margin: 10px 5px 0px 0px;
  padding: 5px;
  min-height: 33%;
}

.ads-page {
  display: inline-block;
}

.my-gallery-class {
  display: flex;
}
.masonry-brick {
  color: #fff;
  /* background-color: #FF00D8; */
  display: inline-block;
  padding: 5px;
  width: 100%;
  margin: 0.25em 0;
  justify-content: center;
  /* for separating masonry-bricks vertically*/
}

/* @media only screen and (min-width: 960px) {
  .masonry-container {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
} */

.ad-card {
  display: flex;
  justify-content: center;
}

.adcard-element-class {
  margin: 5px;
}
